aside
  .form-nav-container
    .border &nbsp;
    ul.main-nav
      li.active
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Core
      li
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Signature
      li.from-external-only
        button.segment.nested
          .top-button
            .line &nbsp;
            .round &nbsp;
            span More information
        ul.side-menu
          li
            button Priority
          li
            button Identifiers
          li
            button Relationship
          li
            button Additional properties
      li.from-internal-only
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Relationships
      li.from-internal-only
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Identifiers
      li.from-internal-only
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Additional properties
      li.from-internal-only
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Contributor
      li.from-external-only
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Your details
      li
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Review