block vars
  - var currentFormSectionw = 1

aside
  .form-nav-container
    .border &nbsp;
    a.sr-only.skip-to-main-content(href="#main-form-content") Skip to Main Content
    ul.main-nav
      li#coreBtn
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Core
            .indicators
              i.fa-solid.fa-triangle-exclamation
              i.fa-solid.fa-square-check
      li#signaturesBtn
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Signature
            .indicators
              i.fa-solid.fa-triangle-exclamation
              i.fa-solid.fa-square-check
      li#priorityBtn.from-external-only
        button.segment.nested
          .top-button
            .line &nbsp;
            .round &nbsp;
            span More information
            .indicators
              i.fa-solid.fa-triangle-exclamation
              i.fa-solid.fa-square-check
        ul.side-menu
          li#prioritySubBtn
            button.segment-sub Priority
          li#identifiersSubBtn
            button.segment-sub Identifiers
          li#relationshipsSubBtn
            button.segment-sub Relationship
          li#additionalPropertiesSubBtn
            button.segment-sub Additional properties
      li#relationshipsBtn.from-internal-only
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Relationships
            .indicators
              i.fa-solid.fa-triangle-exclamation
              i.fa-solid.fa-square-check
      li#identifiersBtn.from-internal-only
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Identifiers
            .indicators
              i.fa-solid.fa-triangle-exclamation
              i.fa-solid.fa-square-check
      li#additionalPropertiesBtn.from-internal-only
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Additional properties
            .indicators
              i.fa-solid.fa-triangle-exclamation
              i.fa-solid.fa-square-check
      li#contributorsBtn.from-internal-only
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Contributor
            .indicators
              i.fa-solid.fa-triangle-exclamation
              i.fa-solid.fa-square-check
      li#yourDetailsBtn.from-external-only
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Your details
            .indicators
              i.fa-solid.fa-triangle-exclamation
              i.fa-solid.fa-square-check
      li#reviewBtn
        button.segment
          .top-button
            .line &nbsp;
            .round &nbsp;
            span Review

script.
  var currentFormSectionw = 0;
  function showFormSection(formPart){
    var currentFormSection = formPart;
    return currentFormSection
  }