fieldset
  legend.sr-only For the current file format, specify others over which it has priority over
  .row-group
    #priority-inner
      p Priority over
      .priority-list
        .priority-group
          .form-row#priority-file-format
            p.inputType Edited content
            .tooltipPlusAction
              .tooltip-container
                .label
                  label(for="PriorityFileFormat") File format
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '3.1') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
              .action-monitoring
                    .review-type
                      i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                      p Require reviewing
                    .review-type
                      i.fa-solid.fa-square-check
                      p Reviewed
            .input-group
              button Accept current
              input(name="PriorityFileFormat" id="PriorityFileFormat")
          button.bordered-red.small 
            | Delete field
      .button-container
        button.black.small.push-right
          | Add field