section.form-part#priority
  .smallScreen
    button.accordion
      i.fa-solid.fa-chevron-down
      h2 Priority
  .largeScreen
    .form-header-main
      h2 More information
      .nav
        button.bordered-blue.medium.left.prevSkip
          i.fa-solid.fa-angles-left
          | Prev
        button.bordered-blue.medium.right.nextSkip
          | Next
          i.fa-solid.fa-angles-right
    .form-header-sub
      h3 Priority
      .nav
        button.bordered-blue.xsmall.right.next
          | Next
          i.fa-solid.fa-angles-right.next
  //- priority over is reused by internal form in the CORE section
  .form-partial-content
    .part
      include ./priority-over.pug
