section.form-part#relationships
  .smallScreen
    button.accordion
      i.fa-solid.fa-chevron-down
      h2 Relationships
  .largeScreen
    .from-external-only
      .form-header-main
        h2 More information
        .nav
          button.bordered-blue.medium.left.prevSkip
            i.fa-solid.fa-angles-left
            | Prev
          button.bordered-blue.medium.right.nextSkip
            | Next
            i.fa-solid.fa-angles-right
      .form-header-sub
        h3 Relationships
        .nav
          button.bordered-blue.xsmall.left.prev
            i.fa-solid.fa-angles-left
            | Prev
          button.bordered-blue.xsmall.right.next
            | Next
            i.fa-solid.fa-angles-right
    .from-internal-only
      .form-header-main
        h2 Relationships
        .nav
          button.bordered-blue.medium.left.prev
            i.fa-solid.fa-angles-left
            | Prev
          button.bordered-blue.medium.right.next
            | Next
            i.fa-solid.fa-angles-right
  .form-partial-content
    fieldset
      legend.sr-only Provide relationships and format families
      #relationships-list.row-group
        .relationship
          .form-row
            .tooltip-container
              .label
                label(for="IdentifierType") Choose relationship type
                span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                  .i-wrapper
                    i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
            select(id="IdentifierType")
              option(value='0') option1
              option(value='1') option2
          .form-row
            .tooltip-container
              .label
                label(for="Identifier") Related file format
                span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                  .i-wrapper
                    i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
            input(name="Identifier" id="Identifier")
          .button-container
            button.bordered-red.small.delete-relationship
              | Delete relationship
      .button-container
        button.black.small.push-right.add-relationship
          | Add relationship
      .form-row
        .tooltip-container
          .label
            label(for="FormatFamilies") Format families
            span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
              .i-wrapper
                i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
        input(name="FormatFamilies" id="FormatFamilies")