section.form-part#review
  .smallScreen
    button.accordion
      i.fa-solid.fa-chevron-down
      h2 Review
  .largeScreen
    .form-header-main
      h2 Review
      div
        .nav
          button.bordered-blue.medium.left
            i.fa-solid.fa-angles-left
            | Prev
          button.blue.medium.right.submit-button
            | Submit
  .form-partial-content
    #review-container
      h3 Core
      .part
        h4.border Main
        .review-part
          .element
            p.label File format name
            p.value Lorem ipsum
          .element
            p.label Version
            p.value Lorem ipsum
          .element
            p.label File format description
            p.value Lorem ipsum
      .part
        h4.border References
        .count
          p 1
          .review-part.three
            .element
              p.label Name
              p.value Lorem ipsum
            div
              .element
                p.label Link URL
                p.value Lorem ipsum
            .element
              p.label Documentation
              p.value NO
        .count
          p 2
          .review-part.three
            .element
              p.label Name
              p.value Lorem ipsum
            div
              .element
                p.label Link URL
                p.value Lorem ipsum
              .ifDocumentation
                .element
                  p.label Link URL
                  p.value Lorem ipsum
                .element
                  p.label Link URL
                  p.value Lorem ipsum
                .element
                  p.label Link URL
                  p.value Lorem ipsum
                .element
                  p.label Link URL
                  p.value Lorem ipsum
                .element
                  p.label Link URL
                  p.value Lorem ipsum
            .element
              p.label Documentation
              p.value YES
      h3 Signatures
      .part.two
        .count
          p 1
          .review-part
            .element
              p.label Signature name
              p.value Lorem ipsum
            .element
              p.label Generic flag
              p.value YES
            h4 Byte Sequence
            .element
              p.label Endianess
              p.value Lorem ipsum
            .element
              p.label Description
              p.value Lorem ipsum
            .bordered-box
              .element
                p.label Binary value
                p.value Lorem ipsum
              .element
                p.label Position type
                p.value Lorem ipsum
              .element
                p.label Min Offset
                p.value Lorem ipsum
              .element
                p.label Max Offset
                p.value Lorem ipsum
        .count
          p 2
          .review-part
            .element
              p.label Signature name
              p.value Lorem ipsum
            .element
              p.label Generic flag
              p.value YES
            h4 Byte Sequence
            .element
              p.label Endianess
              p.value Lorem ipsum
            .element
              p.label Description
              p.value Lorem ipsum
            .bordered-box
              .element
                p.label Path
                p.value Lorem ipsum
              .bordered-box
                .element
                  p.label Binary value
                  p.value Lorem ipsum
                .element
                  p.label Position type
                  p.value Lorem ipsum
                .element
                  p.label Min Offset
                  p.value Lorem ipsum
                .element
                  p.label Max Offset
                  p.value Lorem ipsum
            .bordered-box
              .element
                p.label Path
                p.value Lorem ipsum
      h3 More information
      .part
        h4 Priority
        .review-part
          #priority-over
            p Priority over 
            .element
              p.label File format
              p.value Lorem ipsum
        h4 Identifiers
        .review-part
          #review-identifiers
            .two
              .element
                p.label File format
                p.value Lorem ipsum
              .element
                p.label File format
                p.value Lorem ipsum
          h5 Aliases
          .review-part#review-aliases
            .two
              .element
                p.label Name
                p.value Lorem ipsum
              .element
                p.label Version
                p.value Lorem ipsum
            .two
              .element
                p.label Name
                p.value Lorem ipsum
              .element
                p.label Version
                p.value Lorem ipsum
        h4 Relationships
        .review-part
          #review-relationships
            .two
              .element
                p.label Relationship type
                p.value Lorem ipsum
              .element
                p.label Related file format
                p.value Lorem ipsum
          .element
            p.label Format families
            p.value Lorem ipsum
        h4 Additional properties
        .review-part
          h3 Byte sequences
          .review-part
            .element
              p.label File format byte order
              p.value Lorem ipsum
            .element
              p.label Compression Type
              p.value Lorem ipsum
          h3 Stakeholders and specification
          .element
            p.label Developer
            p.value Lorem ipsum
        h4 Your details
        .review-part
          .two
            div
              .element
                p.label Name
                p.value Lorem ipsum
              .element
                p.label Organisation
                p.value Lorem ipsum
              .element
                p.label Contact email
                p.value Lorem ipsum
              .element
                p.label Country
                p.value Lorem ipsum
            div
              .element
                p.label Comment
                p.value Lorem ipsum
          h5 Recognition
          p.value I give persmission ...
