section.form-part#yourDetails
  .smallScreen
    button.accordion
      i.fa-solid.fa-chevron-down
      h2 Your details
  .largeScreen
    .form-header-main
      h2 Your details
      .nav
        button.bordered-blue.medium.left.prev
          i.fa-solid.fa-angles-left
          | Prev
        button.bordered-blue.medium.right.next
          | Next
          i.fa-solid.fa-angles-right
  .form-partial-content
        fieldset
          legend.sr-only Add your details and any additional comments
          #main-details
            div
              .form-row
                .tooltip-container
                  .label
                    label(for="UserName") Name
                    span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
                input(name="UserName" id="UserName")
              .form-row
                .tooltip-container
                  .label
                    label(for="Organisation") Organisation
                    span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
                input(name="Organisation" id="Organisation")
              .form-row
                .tooltip-container
                  .label
                    label(for="Email") Contact email(required)
                    span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
                input(name="Email" id="Email")
              .form-row
                .tooltip-container
                  .label
                    label(for="Country") Country
                    span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
                input(name="Country" id="Country")
            div
              .form-row
                .tooltip-container
                  .label
                    label(for="Comment") Comment
                    span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
                textarea(cols="30", rows="10" name="Comment" id="Comment")
          #recognition
            h3 Recognition (required)
            div
              fieldset
                legend.sr-only Select if you would like to be recognised for your submission
                .form-row.checkbox-container
                  input(type="radio" id="css" name="fav_language" value="")
                  .tooltip-container
                    .label
                      label(for="Documentation") I give permission for my details to be recorded and displayed on PRONOM
                      span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                        .i-wrapper
                          i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
                .form-row.checkbox-container
                  input(type="radio" id="css" name="fav_language" value="")
                  .tooltip-container
                    .label
                      label(for="Documentation") Prefer to stay anonymous
                      span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                        .i-wrapper
                          i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
