.team-photo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  @media only screen and (max-width: 1540px) {
    grid-template-columns: 1fr;
  }
}
.team-photo-group {
  background: #dbdbdb63;
  padding: 12px;
  >div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
     > div {
       p {
         margin: 0;
       }
     }
  }
  @media only screen and (max-width: 650px) {
    >div {
      grid-template-columns: 1fr;
    }
  }
}
  article {
    p {
      column-count: 2;
      @media only screen and (max-width: 1250px) {
        column-count: 1;
      }
    }
  }

.team-photo-container {
  p {
    column-count: 1;
  }
}
a {
  color: #0f528d;
}