.error-page {
  h1, h2 {
    font-family: 'Open Sans', sans-serif;
  }
  h1 {
    font-weight: bold;
    margin-bottom: 40px;
    padding: 0 20px;
  }
  h2 {
    font-size: 4em;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    @media only screen and (max-width: 600px) {
      font-size: 2.5em;
    }
    span {
      font-family: 'Roboto Mono', monospace;
      font-size: 0.5em;
      margin-bottom: -10px;
    }
  }
  p.explanation {
    font-size: 2.2em;
    margin-top: -10px;
    margin-bottom: 15px;
    @media only screen and (max-width: 600px) {
      font-size: 1.5em;
      margin-top: 0;
    }
  }
  ul.advising-steps {
    li {
      font-size: 1.4em;
      @media only screen and (max-width: 600px) {
        font-size: 1em;
      }
    }
  }
  a {
    max-width: fit-content;
    margin-top: 30px;
    margin-left: auto;
    @media only screen and (max-width: 600px) {
      margin-left: 0;
    }
  }
  
  .error-page-content-container {
    min-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
    display: grid;
    margin-top: 100px;
    @media only screen and (max-width: 1050px) {
      margin-top: 20px;
    }
    > div {
      &:nth-child(1){
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

}