#formChoice {
  a{
    color: #0f528d;
    &.bordered-blue {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 20px;
      max-width: 200px;
      text-decoration: underline;
      height: fit-content;
      font-weight: 700;
      i {
        margin-right: 10px;
        font-size: 35px;
        margin-left: 20px;
      }
    }
  }
  .option {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 35px;
    grid-gap: 20px;
    max-width: 700px;
    @media only screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
    p {
      margin: 0;
    }
  }
  .links {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-top: 10px;
  }
}