.home-page-additional-info {
  min-width: 290px;
  margin-top: 35px;
  >div {
    margin-top: 10px;
  }
  h4 {
    margin-bottom: 8px;
  }
  .tooltip-container {
    margin-top: 10px;
  }
}
.pronom-updates {
  background: #C4DFF8;
  padding:  15px;
  h3 {
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
    margin-top: 8px;
  }
  b {
    margin: 0;
    padding: 0;
  }
  div.add-border {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
  }
  .buttons {
    margin-top: 5px;
    button {
      margin-right: 6px;
      &:focus {
        outline: 5px solid #0f528d;
      }
    }
  }
}
.button-list {
  display: flex;
  flex-direction: column;
  button {
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
  }
}
#small-search-container {
  margin-bottom: 15px;
}
#small-search-container form fieldset > div{
  display: grid;
  grid-template-columns: 1fr 45px;
  button {
    background: black;
    color: white;
    border:black;
    i {
      font-size: 18px;
    }
  }
}