#internalSearch {
  .extend {
    display: block !important;
  }
  .search-input-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    >div:nth-child(1) {
      background: #dbdbdb63;
      padding: 15px;
      display: flex;
      align-items: center;
    }
    .search-input {
      fieldset {
        width:100%;
        >div {
          display: grid;
          grid-template-columns: 1fr 140px;
          grid-gap: 2px;
          width: 100%;
        }
        button {
          background: black;
          color: white;
          border: black;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.1em;
          i {
            margin-right: 5px;
          }
        }
      }
    }
    .filters {
      min-width: 230px;
      min-height: 100px;
      max-width: 300px;
      h4 {
        margin:0;
      }
      fieldset {
        div {
          display: grid;
          grid-template-columns: 40px 1fr;
          grid-gap: 10px;
          align-items: center;
          background: #dbdbdb63;
          margin-bottom: 5px;
          border: 2px solid #dbdbdb63;
          height: 40px;
          &.selected {
            background: #ccdbea;
            border: 2px solid #103c61;
            input:focus {
              outline: 5px solid #0f528d;
            }
          }
          label {
            display: flex;
            align-items: center;
            padding-right: 5px;
            height: 100%;
          }
          input {
            width: 20px;
            align-items: center;
            justify-content: center;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            padding-left: 10px;
            padding-right: 10px;
            height: 20px;
          }
        }
      }
    }
    form {
      width: 80%;
      margin-left: 10%;
    }
  }
  .search-output {
    .additionals {
      display: flex;
      label {
        margin-right: 5px;
        font-family: 'Roboto Mono', monospace;
        font-weight: 500;
      }
      .manage-results {
        display: flex;
        align-items: center;
        #results_per_page {
          width:38px;
        }
        fieldset {
          display: flex;
          align-items: center;
          margin-right: 10px;
        }
        .result-counts {
          border-right: 2px solid #7070708c;
        }
      }
      .sort-by {
        padding-left: 5px;
        select {
          display: block;
          width: 100%;
          background: white;
          color: #0f528d;
          border: 2px solid #0f528d;
          font-size: 1em;
          height: 30px;
          padding: 0 20px 0 0;
          font-weight: 500;
          font-family: 'Roboto Mono', monospace;
          border-radius: 0;
          &:focus {
            outline: 5px solid #8EC0EC;
          }
          option {
            color: black;
          }
        }
      }
      .save-options {
        display: flex;
        grid-gap:5px;
        border-left: 2px solid #7070708c;
        margin-left: auto;
        padding-left: 5px;
        align-items: center;
        .button-list {
          display: flex;
          button {
            margin-right: 5px;
          }
          .dropdown-group {
            display: flex;
            button {
              margin-right: 0;
            }
            select {
              display: block;
              width: 100%;
              background: #0f528d;
              color: white;
              border: 2px solid #0f528d;
              font-size: 1em;
              height: 30px;
              padding: 0 20px 0 0;
              font-weight: 500;
              font-family: 'Roboto Mono', monospace;
              border-radius: 0;
              &:focus {
                outline: 5px solid #8EC0EC;
              }
              option {
                background: white;
                color: black;
              }
            }
          }
        }
      }
    }
    .all-results {
      background: #dbdbdb63;
      padding: 0 20px 20px 20px;
      margin-top: 5px;
      .pagination {
        margin-top: 40px;
        ul{
          display: flex;
          justify-content: flex-end;
          li {
            width: 30px;
            height: 30px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
            &.controls {
              width: auto;
              padding: 0 10px;
            }
            &.active {
              background: #ccdbea;
            }
            a {
              display: flex;
            }
          }
        }
      }
    }
    ul {
      padding: 0;
      li {
        border: 2px solid #0f528d;
        margin-bottom: 6px;
        background: white;
        transition: all 0.2s;
        &:hover {
          background: #ccdbea;
        }
        &.results-container {
          border: none;
        }
        &.column-names {
          display: grid;
          grid-template-columns: 95px 0.8fr 1.4fr 1fr 100px 260px;
          border: none;
          background: none;
          padding: 10px 5px;
          margin-bottom: 0;
        }
        h4 {
          margin: 0;
          margin-left: 5px;
          font-size: 1em;
          font-family: 'Open Sans', sans-serif;
          font-weight: 800;
          margin-top: 10px;
        }
        a {
          // height: 100%;
          display: flex;
          padding: 10px 5px;
          div {
            width: 100%;
            display: grid;
            grid-template-columns: 95px 0.8fr 1.4fr 1fr 100px 260px;
            text-decoration: none;
            grid-gap: 5px;
            color: black;
            .data {
              display: flex;
              flex-direction: column;
              font-size: 1em;
              font-weight: 400;
              margin:0;
              font-family: 'Open Sans', sans-serif;
              span {
                font-weight: 800;
                font-size: 1em;
              }
            }
            > div {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              grid-gap: 10px;
            }
            >p, >div, >h5 {
              border-left: 2px solid lightgray;
              padding-left: 8px;
            }
            p:first-child {
              border:none;
            }
          }
          .buttons {
            button {
              margin-left: 5px;
            }
          }
        }
        .type, .name, .desc, .status {
          span {
            position: absolute;
            color: transparent;
          }
        }
      }
    }
  }
}
h1 {
  padding-bottom: 40px;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
}
.page-container {
  max-width: unset !important;
  min-width: 1600px;
  padding: 0 30px;
  padding-top: 80px;
}
.extended {
  display: block;
}
#noResults {
  margin-top: 20px;
  width: fit-content;
  min-width: 600px;
  > div {
    background: #F1DEB8;
    border: 2px solid black;
    padding: 7px 20px;
    ul {
      padding-left: 20px;
      li {
        background: none;
        border: none;
        list-style-type:circle;
        background: none !important;
        border: none !important;
      }
    }
  }
}