
.modal-container {
  &.noJS {
    button.next, button.prev, button.nextSkip, button.prevSkip {
      display: none !important;
    }
    .accordion {
      padding-left: 20px;
      i {
        display: none;
      }
    }
    .form-part {
      border-top: 3px solid black;
      &.form-row {
        border: 0;
      }
      &#relationships, &#identifiers, &#additionalProperties {
        border-top: 0;
        h2 {
          display: none;
        }
      }
      &#relationships, &#identifiers, &#additionalProperties, &#priority {
        .form-header-sub {
          margin-left: 30px;
        }
      }
    }
    .form-content {
      grid-template-columns: 1fr;
      aside {
        display: none;
      }
      main {
        max-width: 1000px;
      }
    }
  }
}


.from-internal-only {
  display: none;
}

.from-external-only {
  display: block;
}

main {
  padding: 20px;
  background: #f3f3f3;

  @media only screen and (max-width: 1200px) {
    padding: 0;
  }
}



.main-nav {
  >li {
    height: auto;
    margin-top: -3px;

    &.active {
      button.segment {
        border: 2px solid #0f528d;

        .top-button {
          .round {
            background: #0f528d;
          }
        }
      }

      button.nested {
        border: none;
        border-left: 2px solid transparent;
      }

      .side-menu {
        display: block;
      }
    }

    a {
      width: 100%;
      height: 100%;
    }

    button.segment {
      padding: 0 20px;
      width: 100%;
      border: none;
      font-family: 'Open Sans', sans-serif !important;
      font-size: 1.1em;
      border-left: 2px solid transparent;
      // border-top: 2px solid white;
      margin-bottom: 4px;
      margin-top: 4px;

      span {
        margin-left: 10px;
      }

      .top-button {
        display: flex;
        padding-top: 11px;

        .round {
          height: 20px;
          width: 20px;
          border-radius: 50px;
          border: 2px solid #0f528d;
          background: white;
          margin-left: -9px;
        }

        .line {
          margin-top: -11px;
          border-left: 2px solid black;
          margin-right: -9px;
          height: 46px;
        }
      }
    }

    &:last-child {
      button.segment {
        margin-bottom: 0;

        .top-button {
          .line {
            margin-top: -22px;
          }
        }
      }

      span {
        margin-bottom: 15px;
      }
    }

    &:first-child {
      button.segment {
        margin-top: 0;

        .top-button {
          .line {
            margin-top: 0;
            height: 37px;
          }
        }
      }
    }

    .side-menu {
      display: none;
    }
  }
}

.side-menu {
  margin-left: 50px;
  margin-bottom: 5px;

  li {
    margin-left: 10px;
    text-align: left;

    button {
      width: 100%;
      text-align: left;
      min-height: 35px;
      border: 2px solid transparent;
      margin-bottom: 6px;
      font-family: 'Open Sans', sans-serif !important;
      font-size: 0.9em;
    }

    &.active {
      button {
        border: 2px solid #0f528d;
      }
    }
  }
}

aside {
  background: white;
  min-height: 100vh;
  padding: 20px 20px 20px 40px;
  width: 300px;

  @media only screen and (max-width: 1200px) {
    display: none;
  }
}


.form-content {
  display: grid;
  grid-template-columns: auto 1fr;
  background: #f3f3f3;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -6px 1px 4px #0000000f;
  @media only screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    padding-bottom: 100px;
  }
  main {
    border-left: none;
  }
}

.form-nav-container {
  background: #efefef;
  display: grid;

  >div,
  >ul {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .border {
    border-left: 2px solid black;
    margin-left: 22px;
    height: 100%;
  }
}

.part {
  // margin-left: 50px;
  // margin-top: 20px;

  @media only screen and (max-width: 950px) {
    margin-left: 0;
  }
}

// form nav
.form-header-main {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  margin-bottom: 10px;
  border-bottom: 3px solid white;
  padding-bottom: 10px;
  h2 {
    font-weight: normal;
  }

  @media only screen and (max-width: 1200px) {
    padding-right: 0;
  }
}

.form-header-sub {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.form-header-sub,
.form-partial-content {
  // margin-left: 20px;
  padding-right: 20px;

  @media only screen and (max-width: 950px) {
    margin-left: 0;
  }

  h3.border,
  h4.border,
  h5.border {
    border-top: 3px solid white;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 20px;
  }
}

.form-partial-content {
  max-width: 100v;
  padding: 20px;
  &.hide {
    display: none;
  }
}

.nav {
  margin-left: auto;

  button {
    &.left {
      margin-right: 10px;

      i {
        margin-right: 8px;
      }
    }

    &.right {
      i {
        margin-left: 8px;
      }
    }
  }
}

.submit-button {
  width: 200px;
}

// tooltip
.tooltip-container .label-text {
  margin: 2px;
}

.tooltip-container .label {
  display: flex;
}

.tooltip-container {
  margin-bottom: 3px;
}

// input
input,
textarea {
  width: calc(100% - 20px);
  // max-width: 700px;
}

.form-row {
  .input-group {
    display: flex;
    flex-direction: column;
    button {
      padding: 2px 5px;
      border-radius: 30px;
      border: 2px solid black;
      margin-bottom: 3px;
      margin-top: 3px;
      background: white;
      width: fit-content;
      display: none;
    }
  }
  .action-monitoring {
    display: none;
  }
  .inputType {
    display: none;
  }
  margin-bottom: 10px;
  &.before-review {
    border: 2px solid orange;
    padding: 10px;
    margin-top: 30px;
    background: #ffffff54;
    .action-monitoring {
      display: block;
      > div {
        display: none;
        &:nth-child(1){
          display: flex;
        }
      }
      i {
        color: orange;
      }
    }
    .inputType {
      display: flex;
    }
    .input-group {
      border-bottom: 2px solid lightgrey;
      padding-bottom: 3px;
      button {
        display: block;
      }
    }
  }
  &.after-review {
    border: 2px solid green;
    padding: 10px;
    margin-top: 30px;
    background: #ffffff54;
    .action-monitoring {
      display: block;
      > div {
        display: none;
        &:nth-child(2){
         display: flex;
        }
      }
      i {
        color: green;
      }
    }
    .inputType {
      display: flex;
    }
    .input-group {
      button {
        display: block;
      }
    }
  }
  
  p {
    margin:0;
  }
  .inputType {
    margin-top: -32px;
    margin-bottom: 10px;
    margin-left: auto;
    display: none;
    align-content: right;
    justify-content: right;
  }

  
  .tooltipPlusAction {
    display: flex;
    margin-bottom: 3px;
    .action-monitoring {
      border-left: 2px solid grey;
      margin-left: 10px;
      > div {
        display: none;
        align-items: center;
        i {
          margin: 0 5px 0 10px;
        }
      }
      &.before-review {
        > div:nth-child(1){
          display: flex;
        }
        i {
          color: orange;
        }
        .inputType {
          display: flex;
        }
      }
      &.after-review {
        > div:nth-child(1){
          display: flex;
        }
        i {
          color: green;
        }
        .inputType {
          display: flex;
        }
      }
    }
  }
}

.row-group {
  background: #e7e7e7;
  border: 2px solid #D2D2D2;
  border-left: 3px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  &.inline {
    display: grid;
    grid-gap: 20px;
  }

  &#references {
    grid-template-columns: 1fr 1fr 190px auto;

    .additional-fields {
      grid-column: 2/3;
      border-top: 2px solid lightgray;
      padding-top: 5px;
    }

    .button-container {
      display: flex;
      grid-column: 4/5;
      grid-row: 1/2;
    }

    @media only screen and (max-width: 1500px) and (min-width: 1090px) {
      grid-template-columns: 1fr 1fr 190px;

      .additional-fields {
        grid-column: 2/3;
      }

      .button-container {
        display: flex;
        grid-column: 1/4;
        grid-row: inherit;
      }
    }

    @media only screen and (max-width: 1090px) {
      grid-template-columns: 1fr;
      grid-gap: 10px;
      .additional-fields {
        grid-column: 1/2;
      }
      .button-container {
        display: flex;
        grid-column: 1/2;
        grid-row: inherit;
      }
    }
  }
}

h6,
h5 {
  margin: 0;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 20px;
}

.row-group-inner1 {
  background: #dddddd;
  border: 2px solid #D2D2D2;
  padding: 20px;
  border-left: 2px solid black;
  max-width: 900px;
  margin-bottom: 10px;
}

.row-group-inner2 {
  background: #C9C9C9;
  // border: 2px solid grey;
  border-left: 2px solid black;
  padding: 20px;
  max-width: 700px;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 10px;
}

.checkbox-container {
  display: flex;
  margin-top: 30px;
  align-items: center;
  height: fit-content;
  &.before-review, &.after-review {
    display: grid;
    .tooltipPlusAction {
      grid-row: 2/3;
    }
  }
  input {
    width: 30px;
    height: 30px;
    border: 3px solid black;
  }
}
// Core =============================================
#find-PUID {
  .tooltipPlusAction {
    margin-top: 10px;
  }
  p {
    margin: 0;
  }
  margin-bottom: 20px;
  .search-puid-input {
    display: flex;
    button {
      padding: 0 20px;
      display: flex;
      align-items: center;
      i {
        margin: 0 10px;
      }
    }
  }
  .explanation {
    padding: 10px;
    background: #dde5d5;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    a {
      height: fit-content;
      padding: 5px 20px;
      background: transparent;
      &:hover {
        background: black;
      }
    }
  }
}
.references .row-group{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media only screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-gap: 5px;
    > div {
      grid-column: 1/2 !important;
    }
  }
  .additional-fields {
    grid-column: 3/4;
    @media only screen and (max-width: 700px) {
      border-top: 2px solid white;
      padding-top: 10px;
    }
  }
  .button-container {
    grid-column: 1/4;
  }
}
.references {
  .reference-group {
    &:nth-child(1) {
      .delete-reference {
        display: none;
      }
    }
    .additional-fields {
      display: none;
    }
    &.open-additional {
      .additional-fields {
        display: block;
      }
    }
  }
}

// Signatures =======================================
#signature-container {
  display: flex;
  flex-direction: column-reverse;
}

.collapse-content-container {
  margin-bottom: 15px !important;
  &.collapse {
    margin-bottom: 0 !important;
    .collapse-content {
      display: none;
    }
    .accordion i {
      transform: rotate(180deg) scaleX(-1);
    }
    .top {
      border-bottom: 0 !important;
    }
  }
}
.container-signature, .signature {
  margin-bottom: 0;
}
.byte-sequence {
  margin-top: 15px;
}
.noJS{
  .collapse-buttons {
    button {
      display: none;
    }
  }
}
#signatures {
  .checkbox-container {
    margin-top: 0;
  }

  .info {
    display: flex;
    p {
      font-size: 1.1em;
      text-align: left;
    }
    @media only screen and (max-width: 510px) {
      display: block;
      margin-bottom: 10px;
    }

    button {
      margin-left: auto;
    }
  }

  #add-signature {
    @media only screen and (max-width: 510px) {
      margin-left: auto;
    }
  }

  #signature-controls {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    @media only screen and (max-width: 850px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }

    #select-signature {
      display: flex;
      align-items: flex-end;

      @media only screen and (max-width: 510px) {
        display: block;
      }

      button {
        height: 30px;

        @media only screen and (max-width: 510px) {
          margin-top: 0;
        }
      }
    }

    .collapse-buttons {
      margin-left: auto;

      button {
        i {
          margin-left: 8px;
        }

        &:nth-child(2) {
          margin-left: 10px;
        }
      }
      
    }
  }

  .top {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-bottom: 2px solid lightgray;
    background: white;

    // padding: 5px;
    button {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 650px) {
        grid-column:auto;
        grid-row: auto;
      }
      &.bordered-red {
        margin: 5px;
      }

      @media only screen and (max-width: 510px) {
        grid-column: inherit;
        grid-row: inherit;
        margin-left: 0 !important;
      }

      i {
        font-size: 1.1em;
      }

      &.bordered-red {
        max-width: 270px;
        margin-right: 80px;
        margin-left: auto;
        @media only screen and (max-width: 650px) {
          margin-left: 5px;
        }
      }

      &.accordion {
        display: flex;
        border: none;
        transition: all 0.2s;
        min-height: 55px;
        padding: 0 10px;
        &:hover {
          background: #dbdbdb;
        }

        i {
          margin-left: auto;
          margin-right: 10px;
        }

        .info {
          display: flex;
          flex-direction: column;

          p {
            margin: 0;
          }
        }
      }
    }
  }

  .row-group {
    padding: 0;
  }

  .collapse-content {
    padding: 20px 30px;

    @media only screen and (max-width: 510px) {
      padding: 20px;
    }
  }
}
.form-part {
  
  &.hide {
    display: none;
  }
  &.show {
    display: block;
  }
}
select {
  display: block;
  min-width: 300px;
  background: white;
  color: #0f528d;
  border: 2px solid #0f528d;
  font-size: 1em;
  height: 40px;
  padding: 0 20px 0 0;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
  border-radius: 0;

  @media only screen and (max-width: 510px) {
    min-width: 100%;
  }
}

select:focus {
  outline: 5px solid #8EC0EC;
}

// Priority =======================================
.priority-list {
  .priority-group {
    &:nth-child(1){
      .delete-priority-over {
        display: none;
      }
      .input-group input {
        max-width: 630px;
      }
    }
  }
}
#priority-inner {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;

  @media only screen and (max-width: 750px) {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .priority-group {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    align-items: flex-end;
    max-width: 800px;

    @media only screen and (max-width: 750px) {
      grid-template-columns: 1fr;
      border-top: 2px solid white;
      padding-top: 10px;
      &:nth-child(1){
        border-top: 0;
        padding-top: 0;
      }

      button {
        max-width: 200px;
        margin-left: auto;
      }
    }

    .form-row {
      margin-bottom: 0;
    }
  }
  .button-container {
    grid-column: 1/3;
    @media only screen and (max-width: 750px) {
      grid-column: 1/2;
    }
  }
}

.button-container {

  // grid-column: 1/3;
  @media only screen and (max-width: 750px) {
    grid-column: 1/2;
  }
}

// Identifiers =======================================
#identifiers {
  .add-identifier {
    margin-bottom: 10px;
  }
  #identifiers-list {
    .identifier {
      display: grid;
      grid-template-columns: auto 1fr 200px;
      grid-gap: 20px;
      align-items: flex-end;
      margin-bottom: 10px !important;

      @media only screen and (max-width: 750px) {
        grid-template-columns: 1fr;
        grid-gap: 0;
        border-top: 2px solid white;
        padding-top: 10px;
        &:nth-child(1){
          border-top: 0;
          padding-top: 0;
        }

        .button-container {
          grid-row: 1/2;
          margin-left: auto;
        }
      }

      .button-container {
        margin-bottom: 10px;
      }
      &:nth-child(1){
        .delete-identifier {
          display: none;
        }
      }
    }
  }

  #aliases-list {
    .alias {
      display: grid;
      grid-template-columns: 1fr 200px 200px;
      grid-gap: 20px;
      align-items: flex-end;
      margin-bottom: 10px !important;

      @media only screen and (max-width: 750px) {
        grid-template-columns: 1fr;
        grid-gap: 0;
        border-top: 2px solid white;
        padding-top: 10px;
        &:nth-child(1){
          border-top: 0;
          padding-top: 0;
        }

        .button-container {
          grid-row: 1/2;
          margin-left: auto;
        }
      }

      .button-container {
        margin-bottom: 10px;
      }
      &:nth-child(1){
        .delete-alias {
          display: none;
        }
      }
    }
  }
}

// Additional properties ==============================
.add-actor {
  display: grid;
  grid-template-columns: 1fr 20px auto;
  grid-column-gap: 20px;
  align-items: flex-end;
}

// Relationship =======================================
#relationships {
  #relationships-list {
    .relationship {
      display: grid;
      grid-template-columns: auto 1fr 200px;
      grid-gap: 20px;
      align-items: flex-end;
      margin-bottom: 10px !important;

      @media only screen and (max-width: 750px) {
        grid-template-columns: 1fr;
        grid-gap: 0;
        border-top: 2px solid white;
        padding-top: 10px;
        &:nth-child(1){
          border-top: 0;
          padding-top: 0;
        }

        .button-container {
          grid-row: 1/2;
          margin-left: auto;
        }
      }

      .button-container {
        margin-bottom: 10px;
      }
      &:nth-child(1){
        .delete-relationship {
          display: none;
        }
      }
    }
  }
}
// Signatures ================================
.holder {
  display: none;
}


// Your details =======================================
#yourDetails {
  #main-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;

    @media only screen and (max-width: 820px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }

  #recognition {
    max-width: fit-content;

    >div {
      padding: 10px 10px 0 10px;
      background: #ECECEC;
      border: 2px solid #D2D2D2;

      label {
        margin-top: 5px;
      }
    }

    .checkbox-container {
      display: grid;
      grid-template-columns: 40px 1fr;
      grid-gap: 5px;
    }
  }
}

// Review =======================================
#review {
  #review-container {
    background: white;
    padding: 10px 20px;
    max-width: 1300px;

    h4.border {
      border-top: 4px solid #efefef;
    }

    .count {
      display: grid;
      grid-template-columns: auto 1fr;

      >p {
        margin-top: 10px;
        font-weight: 500;
      }

      .review-part {
        margin-left: 10px;
      }
    }

    .review-part {
      margin-left: 20px;
      border-left: 1px solid black;
      padding-left: 20px;
      display: grid;
      grid-column-gap: 20px;
      height: fit-content;

      @media only screen and (max-width: 1100px) {
        margin-left: 0;
        padding-left: 15px;
      }
    }

    .element {
      margin-bottom: 10px;
    }

    p {
      margin: 0;

      &.label {
        font-size: 0.8em;
        font-weight: 700;
      }

      &.value {
        background: #efefef;
        padding: 5px;
        max-width: 600px;
      }
    }

    .bordered-box {
      border: 2px solid lightgray;
      padding: 10px;
      margin-bottom: 10px;
    }

    #priority-over {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 20px;

      @media only screen and (max-width: 1100px) {
        grid-template-columns: 1fr;
      }
    }

    .two {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      @media only screen and (max-width: 1100px) {
        grid-template-columns: 1fr;
      }
    }

    .three {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 20px;

      @media only screen and (max-width: 1100px) {
        grid-template-columns: 1fr;
      }
    }
  }
}

.largeScreen {
  display: block;

  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

.smallScreen {
  display: none;

  @media only screen and (max-width: 1200px) {
    display: block;
  }
}

#submit-mobile {
  position: fixed;
  width: 100%;
  background: white;
  top: calc(100% - 80px);
  height: 80px;
  box-shadow: -5px -1px 10px 5px #0000002e;

  >div {
    display: flex;
    padding: 20px;

    button {
      margin-left: auto;
    }
  }
}
.noJS {
  .form-section {
    .accordion {
      background: transparent;
      border-bottom: none;
      h2 {
        font-size: 1.8em;
      }
    }
  }
}
.form-section {
  .accordion {
    background: white;
    border: none;
    border-bottom: 3px solid #c1c1c1;
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 50px;
  
    h2 {
      margin: 0;
      font-size: 1.4em;
    }
  
    i {
      font-size: 20px;
      padding: 0 20px
    }
  }
  &.open {
    i.fa-chevron-down {
      transform: rotate(180deg) scaleX(-1);
    }
  }
}

.additionals {
  display: none;
}

.error-notification {
  background: #FFC8C8;
  .error-inner {
    max-width: 1620px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px 10px 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    @media only screen and (max-width: 450px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
    h2 {
      font-size: 1.2em;
    }
    ul {
      li {
        list-style-type:circle;
        margin-left: 20px;
      }
    }
  }
  h2, p {
    margin: 5px;
  }
}
.indicators {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: auto;
  i {
    margin-top: 5px;
    display: none;
  }
  i.fa-solid.fa-triangle-exclamation {
    color: orange;
  }
  i.fa-solid.fa-square-check {
    color: green;
  }
}

.after {
  .indicators {
    i.fa-solid.fa-square-check {
      display: block;
    }
  }
}

.before {
  .indicators {
    i.fa-solid.fa-triangle-exclamation {
      display: block;
    }
    i.fa-solid.fa-square-check {
      display: none;
    }
  }
}