extends /layouts/mainLayout.pug

block vars
  - var currentURL = "/about"
  - var breadcrumbs = {'Home':"/", "About": "/about"}

block content
  .unique-page-content#about
    article(th:utext="${@templateUtils.md('index_pronom-story')}")
      //- TODO - remove when #markdown is in use
      h2 PRONOM story
      h3 Background
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
        culpa qui officia deserunt mollit anim id est laborum.
      h3 Future
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
        culpa qui officia deserunt mollit anim id est laborum.
    article(th:utext="${@templateUtils.md('index_pronom-documentation')}")
      //- TODO - remove when #markdown is in use
      h2 Documentation
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
        culpa qui officia deserunt mollit anim id est laborum.
      h3 Links
      a(href="") some links comes here
      br
      a(href="") some links comes here
      br
      a(href="") some links comes here
      br
      a(href="") some links comes here
    article(th:utext="${@templateUtils.md('index_pronom-team')}")
      //- TODO - remove when #markdown is in use
      h2 Meet the team
    .team-photo-container
      .team-photo-group
        div
          img(src="https://via.placeholder.com/200x110.png", alt="")
          div
            h3 John Doe
            p Title
            a(href="mailto:johndoe@nationalarchive.gov.uk") johndoe@nationalarchive.gov.uk
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
          laboris nisi ut aliquip ex ea commodo consequat.
      .team-photo-group
        div
          img(src="https://via.placeholder.com/200x110.png", alt="")
          div
            h3 John Doe
            p Title
            a(href="mailto:johndoe@nationalarchive.gov.uk") johndoe@nationalarchive.gov.uk
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
          laboris nisi ut aliquip ex ea commodo consequat.
      .team-photo-group
        div
          img(src="https://via.placeholder.com/200x110.png", alt="")
          div
            h3 John Doe
            p Title
            a(href="mailto:johndoe@nationalarchive.gov.uk") johndoe@nationalarchive.gov.uk
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
          laboris nisi ut aliquip ex ea commodo consequat.
      .team-photo-group
        div
          img(src="https://via.placeholder.com/200x110.png", alt="")
          div
            h3 John Doe
            p Title
            a(href="mailto:johndoe@nationalarchive.gov.uk") johndoe@nationalarchive.gov.uk
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
          laboris nisi ut aliquip ex ea commodo consequat.

      
