extends /layouts/mainLayout.pug

block vars
  - var currentURL = "/droid"
  - var breadcrumbs = {'Home':"/", "DROID": "/droid"}

block pageTitle
  h1.hidden-title(th:utext="${@templateUtils.md('droid_accessibility_title')}") Droid

block content
  .unique-page-content#droid
    article(th:utext="${@templateUtils.md('droid_main')}")
      p all comes from the Markdown - text not yet specified