extends /layouts/mainLayout.pug

block vars
  - var currentURL = "/form-choice"
  - var breadcrumbs = {'Home':"/", "Contribute": "/contribute", "Form choice": "/form-choice"}

block pageTitle
  h1.hidden-title(th:utext="${@templateUtils.md('form-choice_accessibility_title')}") Form choice

block content
  .unique-page-content#formChoice
    article
      h2 Choose submission type
      .option
        a.bordered-blue(href="/contribute/form/new")
          i.fa-regular.fa-file(aria-hidden="true")
          | Add new file format
        div(th:utext="${@templateUtils.md('form-choice_new-format')}")
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolor
          .links
            a(href="" aria-labelledby="GitHubLink") GitHub
            p#GitHubLink - Some text comes here
            a(href="" aria-labelledby="DropboxLink") Dropbox
            p#DropboxLink - Some text comes here
            a(href="" aria-labelledby="EmailLink") Email
            p#EmailLink - Some text comes here
      .option
        a.bordered-blue
          i.fa-regular.fa-pen-to-square(aria-hidden="true")
          | Edit existing file format
        div(th:utext="${@templateUtils.md('form-choice_edit-format')}")
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolor
      h2 Other enquiries
      p For any other enquiries please contact us on
      a(href="mailto:pronom@nationalarchive.gov.uk") PRONOM@nationalarchives.gov.uk
      div(th:utext="${@templateUtils.md('form-choice_other-enquiries')}")
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolor
  include ./partials/feedback.pug