extends /layouts/modal.pug

block modalHeader
  div
    h1
      span fmt/11
      | Microsoft Corporation
    .specs
      p Category: Vendor
      p Last updated: 12/06/2000
block modalHeaderAdditionals
  div.audit-trail
    .dropdown.audit
      button.medium.bordered-blue
        i.fa-regular.fa-clock
        | Audit trail
        i.fa-solid.fa-angle-down
      .dropdown-content
        ul
          li
            p 12/04/2022
            p Some texte cones here texte cones here texte cones here texte cones here
          li
            p 03/04/2022
            p Some texte cones here
          li
            p 01/04/2022
            p Some texte cones here
          li
            p 12/04/2022
            p Some texte cones here texte cones here texte cones here texte cones here
          li
            p 03/04/2022
            p Some texte cones here
          li
            p 01/04/2022
            p Some texte cones here
  include ./partials/savingOptions.pug
block modalBody
  .archived
    p.
      Please note that this entry is archived. 
      PRONOM is no longer maintaining this information.
    a(href="")
      | Find out more
  //- TABLE =========================================================================
  ul.table
    //- ROW
    li.row
      .tooltip-container
        .label
          p.label-text Organisation name
          span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
            .i-wrapper
              i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
      div
        p Lorem ipsum dolor sit amet
    //- ROW
    li.row
      .tooltip-container
        .label
          p.label-text Name
          span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
            .i-wrapper
              i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
      div
        p Some name
    //- ROW
    li.row
      .tooltip-container
        .label
          p.label-text Address
          span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
            .i-wrapper
              i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
      div
        p Some address
    //- ROW
    li.row
      .tooltip-container
        .label
          p.label-text Address country
          span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
            .i-wrapper
              i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
      div
        p Lorem ipsum
    //- ROW
    li.row
      .tooltip-container
        .label
          p.label-text#vTelephone Telephone
          span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
            .i-wrapper
              i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
      div
        p Lorem ipsum
    //- ROW
    li.row
      .tooltip-container
        .label
          p.label-text Support website
          span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
            .i-wrapper
              i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
      div
        p Lorem ipsum
    //- ROW
    li.row
      .tooltip-container
        .label
          p.label-text Company website
          span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
            .i-wrapper
              i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
      div
        p Lorem ipsum
    //- ROW
    li.row
      .tooltip-container
        .label
          p.label-text Contact
          span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
            .i-wrapper
              i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
      div
        p Lorem ipsum
    //- ROW
    li.row
      .tooltip-container
        .label
          p.label-text Source
          span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
            .i-wrapper
              i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
      div
        p Lorem ipsum
    //- ROW
    li.row
      .tooltip-container
        .label
          p.label-text Source date
          span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
            .i-wrapper
              i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
      div
        p Lorem ipsum
    //- ROW
    li.row
      .tooltip-container
        .label
          p.label-text Source description
          span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
            .i-wrapper
              i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
      div
        p Lorem ipsum
    