extends /layouts/internalLayout.pug

block vars
  - var currentUrl = '/internal-search'

block pageTitle
  h1.internal-title Search Pronom
block content
  #internalSearch
    include /partials/searchInput.pug