extends /layouts/modal.pug

block modalHeader
  div
    h1
      | Add new file fomat
block modalBody
  .error-notification
    .error-inner
      div
        h2 Erorr
      div
        p Please check fields:
        ul
          li File format name
          li File format version
  .form-content#internal-form
    include ./partials/userForm/form-navigation.pug
    main
      include ./partials/userForm/core.pug
      include ./partials/userForm/signatures.pug
      include ./partials/userForm/releationships.pug
      include ./partials/userForm/identifiers.pug
      include ./partials/userForm/additionalProperties.pug
      include ./partials/userForm/contributor.pug
      include ./partials/userForm/review.pug
    .smallScreen#submit-mobile
      div
        button.blue.medium.right.submit-button
          | Submit
      