extends /layouts/mainLayout.pug

block vars
  - var currentURL = "/release-notes"
  - var breadcrumbs = {'Home':"/", "Release Notes": "/release-notes"}

block pageTitle
  //- TODO: replace "unique number" with release characteristic value
  h1.hidden-title(th:utext="${@templateUtils.md('release-notes_single-accessibility-title')}") Release note - unique number

block content
  .unique-page-content#singleReleaseNote
    article
      h2 
        | 27th October 2021
        span DROID_SignatureFile_V98.xml
      h3 New Records(39)
      ul
        li
          a(href="")
            span fmt/1538 CompuServe
            | .&nbsp;
            span Full entry added
            | .&nbsp;
            span Submitted by The National Archives and Records Administration
        li
          a(href="")
            span fmt/1538 CompuServe
            | .&nbsp;
            span Full entry added
            | .&nbsp;
            span Submitted by The National Archives and Records Administration
        li
          a(href="")
            span fmt/1538 CompuServe
            | .&nbsp;
            span Full entry added
            | .&nbsp;
            span Submitted by The National Archives and Records Administration
        li
          a(href="")
            span fmt/1538 CompuServe
            | .&nbsp;
            span Full entry added
            | .&nbsp;
            span Submitted by The National Archives and Records Administration
        li
          a(href="")
            span fmt/1538 CompuServe
            | .&nbsp;
            span Full entry added
            | .&nbsp;
            span Submitted by The National Archives and Records Administration
      h3 Updated Records (12)
      ul
        li
          a(href="")
            span fmt/1538 CompuServe
            | .&nbsp;
            span Full entry added
            | .&nbsp;
            span Submitted by The National Archives and Records Administration
        li
          a(href="")
            span fmt/1538 CompuServe
            | .&nbsp;
            span Full entry added
            | .&nbsp;
            span Submitted by The National Archives and Records Administration
        li
          a(href="")
            span fmt/1538 CompuServe
            | .&nbsp;
            span Full entry added
            | .&nbsp;
            span Submitted by The National Archives and Records Administration
        
      h3 New Signatures (32)
      ul
        li
          a(href="")
            span fmt/1538 CompuServe
            | .&nbsp;
            span Full entry added
            | .&nbsp;
            span Submitted by The National Archives and Records Administration
        li
          a(href="")
            span fmt/1538 CompuServe
            | .&nbsp;
            span Full entry added
            | .&nbsp;
            span Submitted by The National Archives and Records Administration
        li
          a(href="")
            span fmt/1538 CompuServe
            | .&nbsp;
            span Full entry added
            | .&nbsp;
            span Submitted by The National Archives and Records Administration
        li
          a(href="")
            span fmt/1538 CompuServe
            | .&nbsp;
            span Full entry added
            | .&nbsp;
            span Submitted by The National Archives and Records Administration
      
