extends /layouts/modal.pug
  
block modalHeader
  div
    h1(th:text="${edit ? 'Edit file format' : 'Add new file format' }") Add new file format
block modalBody
  .form-content#user-form
    
    include ./partials/userForm/form-navigation.pug
   
    main
      form(action="#", th:action='@{/contribute/form/new}', method='POST', th:object="${ff}") 
        .form-section
          include ./partials/userForm/core.pug
        .form-section
          include ./partials/userForm/signatures.pug
        .form-section
          include ./partials/userForm/priority.pug
        .form-section
          include ./partials/userForm/identifiers.pug
        .form-section
          include ./partials/userForm/releationships.pug
        .form-section
          include ./partials/userForm/additionalProperties.pug
        .form-section
          include ./partials/userForm/yourDetails.pug
        .form-section
          include ./partials/userForm/review.pug

        .smallScreen#submit-mobile
          div
            button.blue.medium.right.submit-button Submit
