extends /layouts/modal.pug

block modalHeader
  div
    h1
      | Add new file fomat
block modalBody
  .form-content
    aside
      .form-nav-container
        .border &nbsp;
        ul.main-nav
          li
            button.segment
              .top-button
                .line &nbsp;
                .round &nbsp;
                span Core
          li
            button.segment
              .top-button
                .line &nbsp;
                .round &nbsp;
                span Signature
          li
            button.segment.nested.active
              .top-button
                .line &nbsp;
                .round &nbsp;
                span More information
            ul.side-menu
              li
                button.active Priority
              li
                button Identifiers
              li
                button Relationship
              li
                button Additional properties
          li
            button.segment
              .top-button
                .line &nbsp;
                .round &nbsp;
                span Your details
          li
            button.segment
              .top-button
                .line &nbsp;
                .round &nbsp;
                span Review

    main
      include ./partials/userForm/core.pug
      include ./partials/userForm/signatures.pug
      include ./partials/userForm/priority.pug
      include ./partials/userForm/identifiers.pug
      include ./partials/userForm/releationships.pug
      include ./partials/userForm/additionalProperties.pug
      include ./partials/userForm/yourDetails.pug
      