.error-page
    .error-page-content-container
      div
        h1 PRONOM
      div
        div
          h2
            span 404
            | Page not found
          p.explanation The page you are looking for might have been removed. 
          ul.advising-steps
            li If you typed the web address, check it is correct.
            li If you pasted the web address, check you copied the entire address.  
          a.blue.xlarge Back to the home page
    div &nbsp;