block vars
  - var currentURL = "/"
  - var breadcrumbs = {'Home':"/", "Content manager": "/content-manager"}

include ../partials/head.pug

#internal-banner
  img.logo(src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/tna-horizontal-white-logo.svg", alt="National Archive Logo")
  .dropdown
    button.medium
      | John Doe
      i.fa-solid.fa-chevron-down
    .dropdown-content
      button Logout 
.page-container#pronom-content
  //- Pronom main menu - START #pronommainmenu
  include ../partials/internalNavigation.pug
  //- Pronom main menu - END
  //- Main #main - START
  main#internal-main
    //- H1 tag only for screen readers and SEO
    block pageTitle
    //- INFO page columns is div to handle home page and only here needs class of "two"
    .page-columns
      div
        //- Unique page cotnent START
        block content
include ../partials/scrollTop.pug
  //- Main - END