include ../partials/head.pug

.page-container
  //- Pronom main menu - START #pronommainmenu
  include ../partials/navigation.pug
  //- Pronom main menu - END
  //- Main #main - START
  main.side-padding
    //- H1 tag only for screen readers and SEO
    block pageTitle
    //- INFO page columns is div to handle home page and only here needs class of "two"
    .page-columns
      div
        include ../partials/breadcrumbs.pug
        //- Unique page cotnent START
        block content
  //- Main - END
//- Social media START
include ../partials/socialMedia.pug
