include ../partials/head.pug

.modal-container.noJS(role="dialog" aria-labelledby="dialogTitle")
  .modal-header
    .modal-header-inner
      .title#dialogTitle
        block modalHeader
      .additionals
        block modalHeaderAdditionals
      a.close(a href="javascript:window.history.back();" aria-label="Close modal")
        i.fa-solid.fa-xmark(aria-hidden="true")
      a.close.forNoJS(a href="/" aria-label="Close modal")
        i.fa-solid.fa-xmark(aria-hidden="true")
  .modal-body(role="main")
    div
      block modalBody
    include ../partials/scrollTop.pug