include ../partials/head.pug

.modal-container
  .modal-header
    .title
      block modalHeader
    .additionals
      block modalHeaderAdditionals
    button.close
      i.fa-solid.fa-xmark
  .modal-body
    div
      block modalBody