.form-container
  .form-inner
    .modal-title
      h2 Add actor
      //- button.close
        i.fa-solid.fa-xmark(aria-hidden="true")
    form(action="#", th:action="@{/editorial/actor/{target}(target=${actor?.ID} ?: 'new')}", method='POST', th:object="${actor}") 
      //- Hidden URI field
      input(type="hidden", th:field="*{uri}")
      //- Actor name
      .form-row
        .tooltipPlusAction
          .tooltip-container
            .label
              label(for="actorName") Actor name (required)
              span.tooltip-toggle(aria-label='some text here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
        .input-group
          input(th:field="*{name}" id="actorName")
      
      //- Organisation
      .form-row
        .tooltipPlusAction
          .tooltip-container
            .label
              label(for="organisation") Organisation
              span.tooltip-toggle(aria-label='some text here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
        .input-group
          input(th:field="*{organisation}" id="organisation")

      //- Contact email
      .form-row
        .tooltipPlusAction
          .tooltip-container
            .label
              label(for="actorEmail") Contact email
              span.tooltip-toggle(aria-label='some text here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
        .input-group
          input(th:field="*{email}" id="actorEmail")

      //- Country
      .form-row
        .tooltipPlusAction
          .tooltip-container
            .label
              label(for="country") Country
              span.tooltip-toggle(aria-label='some text here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
        .input-group
          input(th:field="*{country}" id="country")

      //- If contributor
      .form-row
        .tooltipPlusAction.checkbox-container
          .input-group
            input(th:field="*{isContributor}" id="ifContributor" type="checkbox")
          .tooltip-container
            .label
              label(for="ifContributor") Actor is contributor
              span.tooltip-toggle(aria-label='some text here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
      .button-container
        button.blue.medium.push-rigth Submit
        