// Breadcrumbs - START #breadcrumbs
.breadcrumb-holder
  nav(aria-label="Breadcrumb navigation")
    ul
      li
        a.isDisabled(aria-disabled='true' disabled='')
          | Home
        i.fa-solid.fa-angle-right(aria-hidden="true")
      li
        a
          | Link
        i.fa-solid.fa-angle-right(aria-hidden="true")
// Breadcrumbs #breadcrumbs - END