aside.home-page-additional-info(aria-label="Quick search, links and additional information")
  #small-search-container
    form(aria-label="Search for file format, software or vendor", method="GET", action="/search")
      fieldset
        label(for="small_search")
          h3 Search Pronom
        legend.sr-only Enter search file format name, PUID or keywords
        div
          input(type="search", name="q", id="small_search", placeholder="Search for file formats...")
          button(type="submit" aria-label="Search")
            i.fa-solid.fa-magnifying-glass(aria-hidden="true")
  div
    .pronom-updates 
      h3 PRONOM updates
      div.add-border
        p Last update
        b 17/12/2021
      div
        p Next planned update
        b early April
      div
        .tooltip-container
          .label
            span.label-text Download test notes
            span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
              .i-wrapper
                i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
        .buttons
          button.bordered-blue.xsmall
            | XML
          button.bordered-blue.xsmall
            | CSV
  div
    h3 Quick links
    div
      h4 Help build PRONOM
      .button-list.quick-links
        a.black.medium(href="/contribute")
          | How to make a submission
        a.black.medium(href="/contribute/form")
          | Submission Form
    div
      h4 Documentation and recognition
      .button-list.quick-links
        a.black.medium(href="/release-notes")
          | PRONOM release notes
        a.black.medium(href="/about")
          | PRONOM documentation
        a.black.medium(href="/droid")
          | DROID