block vars
  - var currentUrl = '/editorial'

section#internal-pronom-nav
  .container
    #pronom-nav-header
      a#page-title(href='/editorial')
        | PRONOM
        span Editorial Environment
      button#pronom-nav-mobile-collapse(type='button')
        | MENU
    #internal-menu.hide
      h2 Menu
      nav
        ul.menu-pronom.side-padding.hide
          // INFO to display sub-menu add class="selected" to <li>
          li(class={selected: currentUrl === '/editorial'})
            // INFO for blue color add class="active"
            a.top-link(class={active: currentUrl === '/editorial'} href='/editorial')
              | Dashboard
            ul.sub-menu-pronom
              li
                // INFO for blue color add class="active"
                a(href="#contributions-wrapper")
                  | Contributions
              li
                a(href="#release-plan-wrapper")
                  | Release plan
              li
                a(href='#maintenance-history-wrapper')
                  | Contributions maintenance history
          li(class={selected: currentUrl === '/internal-search'})
            a.top-link(class={active: currentUrl === '/internal-search'} href='/internal-search')
              | Search PRONOM
          li(class={selected: currentUrl === '/editorial/content'})
            a.top-link(class={active: currentUrl === '/editorial/content'} href='/editorial/content')
              | Edit website content
    #internal-actions.hide
      h2 Actions
      .buttons
        div
          button.bordered-black.medium
            | Add file format
          button.bordered-black.medium
            | Edit file format
        div
          button.bordered-black.medium
            | Add contributor
          button.bordered-black.medium
            | Add institutional actor
