- var currentUrl = '/'

section#pronom-nav
  .container
    #pronom-nav-header
      a#page-title(href='#') Pronom
      button#pronom-nav-mobile-collapse(type='button')
        | MENU
    nav
      ul.menu-pronom.side-padding.hide
        // INFO to display sub-menu add class="selected" to <li>
        li(class={selected: currentUrl === '/'} href='index.html')
          // INFO for blue color add class="active"
          a.top-link(class={active: currentUrl === '/'} href='index.html')
            | Home
          ul.sub-menu-pronom
            li
              // INFO for blue color add class="active"
              a.active
                | What is Pronom?
            li
              a
                | Pronom and Droid
            li
              a(href='#newInformation')
                | New information
        li(class={selected: currentUrl === '/search'} href='search.html')
          a.top-link(class={active: currentUrl === '/search'} href='search.html')
            | Search Pronom
          ul.sub-menu-pronom
            li
              a How to search?
            li
              a
                | Search Pronom
        li(class={selected: currentUrl === '/about'} href='about.html')
          a.top-link(class={active: currentUrl === '/about'} href='about.html')
            | About
          ul.sub-menu-pronom
            li
              a
                | Pronom story
            li
              a
                | Documentation
            li
              a
                | Meet the team
        li(class={selected: currentUrl === '/faq'} href='faq.html')
          a.top-link(class={active: currentUrl === '/faq'} href='faq.html')
            | FAQ
          ul.sub-menu-pronom
            li
              a
                | Category 1
            li
              a
                | Category 2
            li
              a
                | Category 2
        li(class={selected: currentUrl === '/external'} href='external.html')
          a.top-link(class={active: currentUrl === '/external'} href='external.html')
            | External Projects
        li(class={selected: currentUrl === '/submit'} href='submit.html')
          a.top-link(class={active: currentUrl === '/submit'} href='submit.html')
            | Submit to Pronom
          ul.sub-menu-pronom
            li
              a
                | Why submitting to Pronom?
            li
              a
                | How to make a submission
            li
              a
                | How do we proceed your submission
        li(class={selected: currentUrl === '/contact'} href='contact.html')
          a.top-link(class={active: currentUrl === '/contact'} href='contact.html')
            | Contact
          ul.sub-menu-pronom
            li
              a
                | Contact details
            li
              a
                | Map
    
