- var currentUrl = '/'

section#pronom-nav
  .container
    #pronom-nav-header
      a#page-title(href='/') Pronom
      button#pronom-nav-mobile-collapse(type='button')
        | MENU
    nav
      ul.menu-pronom.side-padding.hide
        // INFO to display sub-menu add class="selected" to <li>
        li(class={selected: currentUrl === '/'} href='/')
          // INFO for blue color add class="active"
          a.top-link(class={active: currentUrl === '/'} href='/')
            | Home
          ul.sub-menu-pronom
            li
              // INFO for blue color add class="active"
              a.active
                | What is Pronom?
            li
              a
                | Pronom and Droid
            li
              a(href='#newInformation')
                | New information
        li(class={selected: currentUrl === '/search'} href='/search')
          a.top-link(class={active: currentUrl === '/search'} href='/search')
            | Search Pronom
          ul.sub-menu-pronom
            li
              a How to search?
            li
              a
                | Search Pronom
        li(class={selected: currentUrl === '/about'} href='/about')
          a.top-link(class={active: currentUrl === '/about'} href='/about')
            | About
          ul.sub-menu-pronom
            li
              a
                | Pronom story
            li
              a
                | Documentation
            li
              a
                | Meet the team
        li(class={selected: currentUrl === '/faq'} href='/faq')
          a.top-link(class={active: currentUrl === '/faq'} href='/faq')
            | FAQ
          ul.sub-menu-pronom
            li
              a
                | Category 1
            li
              a
                | Category 2
            li
              a
                | Category 2
        li(class={selected: currentUrl === '/external-projects'} href='external-projects')
          a.top-link(class={active: currentUrl === '/external-projects'} href='external-projects')
            | External Projects
        li(class={selected: currentUrl === '/contribute'})
          a.top-link(class={active: currentUrl === '/contribute'} href='/contribute')
            | Submit to Pronom
          ul.sub-menu-pronom
            li
              a
                | Why submitting to Pronom?
            li
              a
                | How to make a submission
            li
              a
                | How do we proceed your submission
        li(class={selected: currentUrl === '/contact'} href='/contact')
          a.top-link(class={active: currentUrl === '/contact'} href='/contact')
            | Contact
          ul.sub-menu-pronom
            li
              a
                | Contact details
            li
              a
                | Map
    
