block vars
  - var currentUrl = '/'

section#pronom-nav
  .container
    #pronom-nav-header
      a#page-title(href='/') PRONOM
      button#pronom-nav-mobile-collapse(type='button', onclick="toggleMenuFunction()")
        | MENU
    nav
      ul.menu-pronom.side-padding.hide#toggleMenu
        // INFO to display sub-menu add class="selected" to <li>
        li(class=(currentURL === "/" ? "selected" : undefined))
          // INFO for blue color add class="active"
          a.top-link(class={active: currentUrl === '/'} href='/' )
            | Home
          ul.sub-menu-pronom
            li
              // INFO for blue color add class="active"
              a.active
                | What is Pronom?
            li
              a
                | PRONOM and DROID
            li
              a(href='#newInformation')
                | New information
        li(class=(currentURL === "/search" ? "selected" : undefined))
          a.top-link(class={active: currentUrl === '/search'} href='/search' )
            | Search PRONOM
          ul.sub-menu-pronom
            li
              a How to search?
            li
              a
                | Search PRONOM
        li(class=(currentURL === "/about" ? "selected" : undefined))
          a.top-link(class={active: currentUrl === '/about'} href='/about')
            | About
          ul.sub-menu-pronom
            li
              a
                | PRONOM story
            li
              a
                | Documentation
            li
              a
                | Meet the team
        li(class=(currentURL === "/faq" ? "selected" : undefined))
          a.top-link(class={active: currentUrl === '/faq'} href='/faq')
            | FAQ
          ul.sub-menu-pronom
            li
              a
                | Category 1
            li
              a
                | Category 2
            li
              a
                | Category 2
        li(class=(currentURL === "/external-projects" ? "selected" : undefined))
          a.top-link(class={active: currentUrl === '/external-projects'} href='external-projects')
            | External Projects
        li(class=(currentURL === "/contribute" ? "selected" : undefined))
          a.top-link(class={active: currentUrl === '/contribute'} href='/contribute')
            | Submit to Pronom
          ul.sub-menu-pronom
            li
              a
                | Why submit to PRONOM?
            li
              a
                | How to make a submission
            li
              a
                | How do we proceed your submission
        li(class=(currentURL === "/contact" ? "selected" : undefined))
          a.top-link(class={active: currentUrl === '/contact'} href='/contact')
            | Contact
          ul.sub-menu-pronom
            li
              a
                | Contact details
            li
              a
                | Map
    
script.
  
  window.addEventListener("resize", myFunction);
  var menuStatus = false;
  var toggleMenu = document.getElementById("toggleMenu");
  function myFunction(){
    if(window.innerWidth < 1200){
      toggleMenu.style.display = "none";
      menuStatus = true;
    }else{
      toggleMenu.style.display = "block";
      menuStatus = false;
    }
  }
  function toggleMenuFunction(){
    if (menuStatus === true) {
      toggleMenu.style.display = "block";
      menuStatus = false;
    } else {
      toggleMenu.style.display = "none";
      menuStatus = true;
    }
  }