block vars
  - var currentUrl = '/'

section#pronom-nav
  .container
    #pronom-nav-header
      a#page-title(href='/' aria-hidden="true" role="presentation") PRONOM
      button#pronom-nav-mobile-collapse(type='button', onclick="toggleMenuFunction()" title="Toggles Pronom menu")
        | MENU
    nav
      ul.menu-pronom.side-padding.hide#toggleMenu
        // INFO to display sub-menu add class="selected" to <li>
        li(class=(currentURL === "/" ? "selected" : undefined))
          // INFO for blue color add class="active"
          a.top-link(class={active: currentUrl === '/'} href='/' )
            | Home
          ul.sub-menu-pronom
            li
              // INFO for blue color add class="active"
              a.active(href="#home1" role="presentation")
                | What is PRONOM?
            li
              a(href="#home2" role="presentation")
                | PRONOM and DROID
            li
              a(href='#home3' role="presentation")
                | New information
        li(class=(currentURL === "/search" ? "selected" : undefined))
          a.top-link(class={active: currentUrl === '/search'} href='/search' )
            | Search PRONOM
          ul.sub-menu-pronom
            li
              a(href="#search1" role="presentation")
                | How to search?
            li
              a(href="#search2" role="presentation")
                | Search PRONOM
        li(class=(currentURL === "/about" ? "selected" : undefined))
          a.top-link(class={active: currentUrl === '/about'} href='/about')
            | About
          ul.sub-menu-pronom
            li
              a(href="#about1" role="presentation")
                | PRONOM story
            li
              a(href="#about2" role="presentation")
                | Documentation
            li
              a(href="#about3" role="presentation")
                | Meet the team
        li(class=(currentURL === "/faq" ? "selected" : undefined))
          a.top-link(class={active: currentUrl === '/faq'} href='/faq')
            | FAQ
          //- ul.sub-menu-pronom
            li
              a(href="#faq1" role="presentation")
                | Category 1
            li
              a(href="#faq2" role="presentation")
                | Category 2
            li
              a(href="#faq3" role="presentation")
                | Category 2
        li(class=(currentURL === "/external-projects" ? "selected" : undefined))
          a.top-link(class={active: currentUrl === '/external-projects'} href='external-projects')
            | External Projects
        li(class=(currentURL === "/contribute" ? "selected" : undefined))
          a.top-link(class={active: currentUrl === '/contribute'} href='/contribute')
            | Contribute to PRONOM
          ul.sub-menu-pronom
            li
              a(href="#contribute1" role="presentation")
                | Why contribute to PRONOM?
            li
              a(href="#contribute2" role="presentation")
                | How to make a contribution
            li
              a(href="#contribute3" role="presentation")
                | How do we process your contributions
        li(class=(currentURL === "/contact" ? "selected" : undefined))
          a.top-link(class={active: currentUrl === '/contact'} href='/contact')
            | Contact
          ul.sub-menu-pronom
            li
              a(href="#contact1" role="presentation")
                | Contact details
            li
              a(href="#contact2" role="presentation") 
                | Map
    
script.
  window.addEventListener("resize", myFunction);
  var menuStatus = true;
  var toggleMenu = document.getElementById("toggleMenu");
  function myFunction(){
    if(window.innerWidth < 1200){
      toggleMenu.style.display = "none";
      menuStatus = true;
    }else{
      toggleMenu.style.display = "block";
      menuStatus = false;
    }
  }
  function toggleMenuFunction(){
    if (menuStatus === true) {
      toggleMenu.style.display = "block";
      menuStatus = false;
    } else {
      toggleMenu.style.display = "none";
      menuStatus = true;
    }
  }