.save-options
  label Save as
  .button-list
    a(th:href="'/'+${ff.formattedPuid}+'.xml'")
      button.small.bordered-blue XML
    a(th:href="'/'+${ff.formattedPuid}+'.csv'")
      button.small.bordered-blue CSV
    .dropdown-group
      form(th:action="'/'+${ff.formattedPuid}", method="GET")
        button.small.bordered-blue(type="submit") RDF
        label.sr-only(for="format") Select RDF type
        select(name="format" id="format")
          option(value='ttl') TTL
          option(value='nt') NT
          option(value='rdf') RDF/XML
          option(value='n3') N3
          option(value='jsonld') JSON-LD