.save-options
  label Save as
  .button-list
    button.small.bordered-blue
      | XML
    button.small.bordered-blue
      | CSV
    .dropdown-group
      button.small.bordered-blue
        | RDF
      label.sr-only(for="sort_by") Select RDF type
      select(id="sort_by")
        option(value='0') TTL
        option(value='1') NT
        option(value='2') RDF/XML