#scrollToTop
  button(onclick="topFunction()" aria-label="Scroll to the page top")
    i.fa-solid.fa-chevron-up(aria-hidden="true")
script.
  var mybutton = document.getElementById("scrollToTop");

  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }