.social-media
  h2 Connect with PRONOM
  .social-media-inner
    div
      div
        div
          i.fa-brands.fa-google(aria-hidden="true")
      a(href="")
        h3 Google Group
      p Lorem ipsum dolor sit amet
    div
      div
        div
          i.fa-brands.fa-github(aria-hidden="true")
      a(href="")
        h3 Github
      p Lorem ipsum dolor sit amet
    div
      div
        div
          i.fa-solid.fa-envelopes-bulk(aria-hidden="true")
      a(href="")
        h3 Mailing list
      p Lorem ipsum dolor sit amet