.social-media
  h2 Connect with Pronom
  .social-media-inner
    div
      div
        div
          img(src="https://img.icons8.com/ios-glyphs/100/000000/google-logo--v1.png")
      a(href="")
        h3 Google Group
      p Lorem ipsum dolor sit amet
    div
      div
        div
          img(src="https://img.icons8.com/glyph-neue/100/000000/github.png")
      a(href="")
        h3 Github
      p Lorem ipsum dolor sit amet
    div
      div
        div
          i.fa-solid.fa-envelopes-bulk
      a(href="")
        h3 Mailing list
      p Lorem ipsum dolor sit amet