.social-media
  .social-media-wrapper
    h2 Connect with PRONOM
    .social-media-inner
      div
        div
          div
            i.fa-brands.fa-google(aria-hidden="true")
        a(href="https://groups.google.com/g/pronom/c/2rlQV3zEVtY" alt="extnal link to the PRONOM Google Group" target="_blank")
          h3 Google Group
        p Lorem ipsum dolor sit amet
      div
        div
          div
            i.fa-brands.fa-github(aria-hidden="true")
        a(href="https://github.com/nationalarchives" alt="extnal link to the TNA Github" target="_blank")
          h3 Github
        p Lorem ipsum dolor sit amet
      div
        div
          div
            i.fa-solid.fa-envelopes-bulk(aria-hidden="true")
        a(href="https://nationalarchives.us13.list-manage.com/subscribe?u=6f52e73a6838a3605ae03209b&id=a1aeda1a89" alt="extnal link to the Pronom Mailing List" target="_blank")
          h3 Mailing list
        p Lorem ipsum dolor sit amet