.footer-content
  .top-section
    div
      img(src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/tna-square-white-logo.svg" alt="The National Archives logo")
      p
        span The National Archives
        span Kew, Richmond
        span TW9 4DU
    .links
      div
        h3 Find out more
        a(href="https://www.nationalarchives.gov.uk/contact-us/" title="Opens a new window") Contact us
        a(href="https://www.nationalarchives.gov.uk/about/press-room/" title="Opens a new window") Press room
        a(href="https://www.nationalarchives.gov.uk/about/jobs/" title="Opens a new window") Jobs and careers
        a(href="https://www.nationalarchives.gov.uk/about/get-involved/friends-of-the-national-archives/" title="Opens a new window") Friends of The National Archives
      div
        h3 Websites
        a(href="https://blog.nationalarchives.gov.uk/" title="Opens a new window" target="_blank") Blog
        a(href="https://media.nationalarchives.gov.uk/" title="Opens a new window" target="_blank") Podcasts and videos
        a(href="https://shop.nationalarchives.gov.uk/" title="Opens a new window" target="_blank") Shop
        a(href="https://images.nationalarchives.gov.uk/assetbank-nationalarchives/action/viewHome" title="Opens a new window" target="_blank") Image library
        a(href="https://www.nationalarchives.gov.uk/webarchive/" title="Opens a new window" target="_blank") UK Government Web Archive
        a(href="https://www.legislation.gov.uk/" title="Opens a new window" target="_blank") Legislation.gov.uk
        a(href="https://www.thegazette.co.uk/" title="Opens a new window" target="_blank") The Gazette
      div
        h3 Site help
        a(href="https://www.nationalarchives.gov.uk/help/" title="Opens a new window" target="_blank") Help
        a(href="https://www.nationalarchives.gov.uk/help/a-to-z/" title="Opens a new window" target="_blank") Website A-Z index
        a(href="https://www.nationalarchives.gov.uk/help/web-accessibility/" title="Opens a new window" target="_blank") Accessibility
      div
        h3 Legal
        a(href="https://www.nationalarchives.gov.uk/legal/" title="Opens a new window" target="_blank") Terms of use
        a(href="https://www.nationalarchives.gov.uk/legal/privacy-policy/" title="Opens a new window" target="_blank") Privacy policy
        a(href="https://www.nationalarchives.gov.uk/legal/cookies/" title="Opens a new window" target="_blank") Cookies
        a(href="https://www.nationalarchives.gov.uk/about/freedom-of-information/" title="Opens a new window" target="_blank") Freedom of Information
        a(href="https://www.nationalarchives.gov.uk/about/our-role/transparency/" title="Opens a new window" target="_blank") Transparency
        a(href="https://www.nationalarchives.gov.uk/legal/our-fees/" title="Opens a new window" target="_blank") Our fees
    div
      h3 Follow us
      .tna-social-media
        a(href="https://twitter.com/UKNatArchives" title="Follow us via Twitter - Opens a new window"  target="_blank")
          div
            .fa-brands.fa-twitter
        a(href="https://www.youtube.com/c/TheNationalArchivesUK" title="Follow us via Youtube - Opens a new window"  target="_blank")
          div
            .fa-brands.fa-youtube
        a(href="https://www.flickr.com/photos/nationalarchives" title="Follow us via Flickr - Opens a new window"  target="_blank")
          div
            .fa-brands.fa-flickr
        a(href="https://www.facebook.com/TheNationalArchives" title="Follow us via Facebook - Opens a new window"  target="_blank")
          div
            .fa-brands.fa-facebook-f
        a(href="https://www.instagram.com/nationalarchivesuk/" title="Follow us via Instagram - Opens a new window"  target="_blank")
          div
            .fa-brands.fa-instagram
        a(href="https://www.nationalarchives.gov.uk/rss/" title="Follow us via RSS"  target="_blank")
          div
            .fa-solid.fa-rss
  .bottom-section
    img(src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/logo-ogl.png" alt="Open Government License logo" )
    p
      span All content is available under the 
      a(href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" title="Opens a new window" target="_blank") Open Government Licence v3.0
      span , except where otherwise stated
    a(href="http://gov.uk/" target="_blank" title="Opens a new window")
      img(src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/gov-uk.png" alt="GOV.UK logo")