.footer-content
  .top-section
    div
      img(src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/tna-square-white-logo.svg" alt="The National Archives logo")
      p
        span The National Archives
        span Kew, Richmond
        span TW9 4DU
    .links
      div
        h3 Find out more
        a(href="") Contact us
        a(href="") Press room
        a(href="") Jobs and careers
        a(href="") Friends of The National Archives
      div
        h3 Websites
        a(href="") Blog
        a(href="") Podcasts and videos
        a(href="") Shop
        a(href="") Image library
        a(href="") UK Government Web Archive
        a(href="") Legislation.gov.uk
        a(href="") The Gazette
      div
        h3 Site help
        a(href="") Help
        a(href="") Website A-Z index
        a(href="") Accessibility
      div
        h3 Legal
        a(href="") Terms of use
        a(href="") Privacy policy
        a(href="") Cookies
        a(href="") Freedom of Information
        a(href="") Transparency
        a(href="") Our fees
    div
      h3 Follow us
      .tna-social-media
        a(href="" title="Follow us via Twitter - Opens a new window")
          div
            .fa-brands.fa-twitter
        a(href="" title="Follow us via Youtube - Opens a new window")
          div
            .fa-brands.fa-youtube
        a(href="" title="Follow us via Flickr - Opens a new window")
          div
            .fa-brands.fa-flickr
        a(href="" title="Follow us via Facebook - Opens a new window")
          div
            .fa-brands.fa-facebook-f
        a(href="" title="Follow us via Instagram - Opens a new window")
          div
            .fa-brands.fa-instagram
        a(href="" title="Follow us via RSS")
          div
            .fa-solid.fa-rss
  .bottom-section
    img(src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/logo-ogl.png")
    p
      span All content is available under the 
      a(href="") Open Government Licence v3.0
      span , except where otherwise stated
    img(src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/gov-uk.png")