header(id="header" role="banner")
  a(id="skip-to-main-content" href="#reviewBtn")
  .container
    .top-TNA-header
      div
        img.logo(src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/tna-horizontal-white-logo.svg" alt="The National Archives logo")
      div
        button#red-round-button
          .regular-content
            | Menu
            i.fa-solid.fa-chevron-down
          .mobile-content
            i.fa-solid.fa-bars

    
